@use '../index';

.mainPage_container {
  > .bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 5vh;
    background-color: index.$theme-blue;

    button {
      border: none;
      font-weight: 700;
      color: white;
      background-color: index.$theme-blue-dark;
      cursor: pointer;
      &:hover {
        background-color: index.$theme-blue-light;
        color: index.$theme-blue-dark;
      }
    }
  }
  > .credits {
    > h1 {
      font-size: 5em;
      font-weight: 500;
    }
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-color: index.$theme-blue-light;
  }

  > .spacing {
    height: 5vh;
    background-color: index.$theme-brown-light;
  }

  .logging {
    font-weight: 500;
    background: url("../assets/back1.png");
    // background-color: index.$theme-brown;
    background-repeat: repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    height: 50vh;
    .latest {
      display: flex;
      flex-direction: column;
    }
  }
}
