body {
  font-family: Raleway, Helvetica, Arial, sans-serif;
  margin: 0;
}

$theme-brown-dark: #b38c46;
$theme-brown: #ffd27e;
$theme-brown-light: #ffe6b8;
$theme-blue-dark: #2d6380;
$theme-blue: #6eccff;
$theme-blue-light: #a1deff;
